    <html>
        <head>
            <title>Тестовый блог Django Girls</title>
        </head>
        <body>
            <div>
                <h1><a href="">Тестовый блог Django Girls</a></h1>
            </div>

            <div>
                <p>опубликован: 06.02.2016, 18:15</p>
                <h2><a href="">Пост первый</a></h2>
                <p>Спасибо Django Girls. Очень интересно</p>
            </div>

            <div>
                <p>опубликован: 06.02.2016, 18:15</p>
                <h2><a href="">Пост второй</a></h2>
                <p>Питон крут.</p>
            </div>
        </body>
    </html>